In [1]:
#remove o arquivo com o banco de dados SQLite
import os
os.remove('escola.db') if os.path.exists('escola.db') else None

In [2]:
#importando o modulo de acesso ao sqlite
import sqlite3

In [3]:
#criando uma conexão com o banco de dados.
#se o banco de dados nçao existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [4]:
type(con)

sqlite3.Connection

In [5]:
#criando um cursos
#(um cursos permite percorrer todos os registros em um conjunto de dados)
cur=con.cursor()

In [6]:
type(cur)

sqlite3.Cursor

In [7]:
#cria uma instrução sql
sql

NameError: name 'sql' is not defined

In [8]:
sql_create = 'create table cursos'\
'(id integer primary key,'\
'titulo varchar(100),'\
'categoria varchar(140))'

In [9]:
cur.execute(sql_create)

OperationalError: table cursos already exists

In [10]:
sql_insert ='insert into cursos values(?,?,?)'

In [11]:
#dados
recset = [(1000,"ciencia de dados","data science"),
         (1001,"Big data fundamentos","big data"),
         (1002,"ciencia de dados","data science"),
         (1003,"power bi","data visualization"),
         (1004,"java","programação")]

In [12]:
# inserindo os registros
for rec in recset:
    cur.execute(sql_insert,rec)

IntegrityError: UNIQUE constraint failed: cursos.id

In [13]:
#gravando a transação
con.commit()

In [17]:
sql_select = "select * from cursos"
cur.execute(sql_select)
data = cur.fetchall()

In [18]:
#mostra dados
for i in data:
    print(i)

(1000, 'ciencia de dados', 'data science')
(1001, 'Big data fundamentos', 'big data')
(1002, 'ciencia de dados', 'data science')
(1003, 'power bi', 'data visualization')
(1004, 'java', 'programação')
(10012, 'Gestão de dados', 'big data')
(10013, 'R fundamentos', 'analise de dados')

In [16]:
#gerando outros registros
recset=[(10012,"Gestão de dados","big data"),(10013,"R fundamentos","analise de dados")]

# inserindo os registros
for rec in recset:
    cur.execute(sql_insert,rec)

In [19]:
con.close()